# TF-IDF using sklearn

In [2]:
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer
import time
import string
import pandas as pd
import numpy as np

In [29]:
def text_process(text):
    if type(text)!=str:
        return ''
    res = []
    tokenizer = nltk.tokenize.RegexpTokenizer(r'\w+')
    tokens = tokenizer.tokenize(text)
    return tokens
data = pd.read_csv('fake_job_postings_most_freq_text_cleaned.csv')
data['text'] = data['c_requirements']+' '+data['c_title']+' '+data['c_company_profile']+' '+data['c_benefits']+' '+data['c_description']
data['text_process'] = data['text'].apply(lambda x: " ".join(text_process(x)))

In [31]:
from sklearn.feature_extraction.text import CountVectorizer  
from sklearn.feature_extraction.text import TfidfTransformer 
corpus = data['text_process'].tolist()
vectorizer = CountVectorizer()  
X = vectorizer.fit_transform(corpus)  
word = vectorizer.get_feature_names_out()  
transformer = TfidfTransformer()   
tfidf = transformer.fit_transform(X)

In [34]:
print(len(word))
print(tfidf.shape)

96706
(17880, 96706)

In [25]:
print(word[100:200])

['aandroid', 'aangeboden', 'aangedreven', 'aangepaste', 'aangevuld', 'aanmelden', 'aanp', 'aanpak', 'aanspreekpunt', 'aansprekende', 'aansturen', 'aantal', 'aantoonbaar', 'aantoonbare', 'aantrekkelijke', 'aanvang', 'aap', 'aapc', 'aapcsupervisory', 'aarhus', 'aarki', 'aarna', 'aaron', 'aart', 'aashto', 'aat', 'aatsome', 'ab', 'aba', 'abaadefbaddbaddfddceeada', 'abaafadccbecfcdbaebcb', 'ababdaedbdfeebfebbebeeb', 'ababddcafdeacdacebefdeef', 'abaeacacbebfdfdebcdddcccfeeafa', 'abaeaeadfbcbbefdbdfea', 'abaebddfdfbcdfcbacafdfecee', 'abaeceeacefdbebecfedcc', 'abafbeefcebacaafaadceeeecbad', 'abafcdfddefcebbfeadebcea', 'abakus', 'abandon', 'abandoned', 'abandoning', 'abandonment', 'abap', 'abapbw', 'abaqus', 'abasic', 'abatement', 'abbaecadfafeefcfcaebb', 'abbaeccbcdfbecdbdbcdeacf', 'abbaefefdaeadbaeecbabc', 'abbbcfeedeacebfdfdcaaeddffba', 'abbbfcdeaeeeeebfbbaacecb', 'abbbfddfbcbbfdbcedbefbdaecfcaa', 'abbcafaacbdeceeffaaecefbfae', 'abbcdcbabdeefaacfacaadb', 'abbdaaaabdaefcecfaabfcaaeefec', 'abbdbacbbcbbeaaeaadaedeefebffcb', 'abbeaafbcfbbbfdefaeedcb', 'abbfabcdfabbacdaaf', 'abbfffcfbbededeedaecccedf', 'abbottsford', 'abbreviate', 'abbreviated', 'abbreviation', 'abc', 'abcaccdcbbafdeaeeacfdfeccddbccfd', 'abcadbafaffbaabadbdfdcadedc', 'abcbcdaabdcbeafacaddeebaddac', 'abcbedeeffffbeaefb', 'abcbefafdadbaefcbdcaefddeacedc', 'abcdbefadcdeafcafacca', 'abcdedcceaecebcbdffabedda', 'abcfbeeccecaeccfedccabb', 'abcorporate', 'abdaaaddeccfdbdcdccdf', 'abdababbffacecaddcaaeedadedbcac', 'abdadebfdebfbdfcafcfcbfd', 'abdbcdbddbadfeecdcdcddc', 'abdbdafbcfbdccbaeeacdeaeded', 'abdbffeacbaaddfdebfef', 'abdcdbdefefcbffeffd', 'abdcfbfabbeaffbbfcdedbfebdcabeb', 'abddabadabbdfcdeeeb', 'abdeadfbabdfbebdccfcceaaf', 'abdebcbbfffbacff', 'abdeebccfebafbcddfaeadedbea', 'abdfcfebeabcfefbcdbdd', 'abdfdaffffbffbaffdeeddbcacbdc', 'abdfecafdceafceebcbaafe', 'abdominal', 'abe', 'abeaaefdfefdadffdad', 'abeaecebcadeeeedeafacae', 'abecbbbaadffccccaaeb', 'abee', 'abeeaebcadafafcbbafaeebeb', 'abeefdbeabcdbffcbaabfedfd', 'abeffbbeeecbfaddfdcbcbcefeefe']

In [55]:
print(word[96705])
print(tfidf)

ﬂexible
  (0, 93162)	0.10898986394280942
  (0, 92936)	0.05886820979124162
  (0, 92249)	0.034081272052155914
  (0, 92067)	0.025369158536223388
  (0, 91796)	0.07896384597101856
  (0, 91605)	0.0435380411587999
  (0, 91397)	0.02017947821746793
  (0, 91264)	0.042367247237503826
  (0, 91115)	0.057533889540402644
  (0, 90890)	0.02506011430624949
  (0, 90412)	0.045608172391399485
  (0, 89549)	0.02933613270870347
  (0, 89145)	0.024253837028028573
  (0, 88496)	0.06707011824429673
  (0, 87840)	0.07225831361522822
  (0, 87751)	0.040864425059877994
  (0, 86466)	0.028164325186763452
  (0, 86100)	0.03304719835514315
  (0, 85697)	0.0315775479037251
  (0, 85146)	0.08518172565891614
  (0, 84268)	0.01873289830279049
  (0, 83952)	0.062075542227526405
  (0, 83339)	0.026124106104560813
  (0, 83043)	0.06356359129063241
  (0, 82830)	0.028499876999591986
  :	:
  (17879, 9944)	0.02265933815451176
  (17879, 9834)	0.04246396699615614
  (17879, 9823)	0.04177472206670052
  (17879, 9410)	0.03467267817668985
  (17879, 9320)	0.035350400041630294
  (17879, 9211)	0.04992242859455236
  (17879, 8792)	0.03663797747553757
  (17879, 8454)	0.026636043745428356
  (17879, 8339)	0.07602690437116544
  (17879, 8226)	0.03410890411075213
  (17879, 7717)	0.03223038905999838
  (17879, 7497)	0.06700556813953312
  (17879, 7108)	0.23037540400024667
  (17879, 7062)	0.03208295038303879
  (17879, 6847)	0.03623631953109083
  (17879, 6610)	0.17286335697738517
  (17879, 6352)	0.03755570298606957
  (17879, 5290)	0.07451729220283873
  (17879, 4404)	0.05685858021088569
  (17879, 3955)	0.04733080730467333
  (17879, 3135)	0.03607781700356686
  (17879, 3048)	0.041617503228293495
  (17879, 2634)	0.028984100776832576
  (17879, 1563)	0.032983643259271174
  (17879, 1077)	0.027327177994546745

# TF-IDF using Hadoop

In [57]:
text = data.loc[:,['text_process']]
text.to_csv('text.txt',sep = '\t', header = None)

In [58]:
output1_path = "TFIDF_Hadoop/output1/part-r-00000"
pd.read_csv(output1_path,sep='\t',header = None)

                     0  1
0              a_10171  1
1              a_10665  1
2              a_10676  1
3              a_10680  1
4              a_10681  1
...                ... ..
3113868      ﬁnd_12302  2
3113869      ﬁnd_14841  2
3113870        ﬁnd_233  1
3113871       ﬁnd_2345  1
3113872  ﬂexible_12723  1

[3113873 rows x 2 columns]

In [59]:
output2_path = "TFIDF_Hadoop/output2/part-r-00000"
pd.read_csv(output2_path,sep='\t',header = None)

                          0      1
0                      pr_0  1/256
1            professional_0  1/256
2                   offer_0  1/256
3            themcheerful_0  1/256
4                 juggler_0  1/256
...                     ...    ...
3113868  independently_9999  2/598
3113869         growth_9999  1/598
3113870             pm_9999  2/598
3113871      apartment_9999  1/598
3113872       customer_9999  8/598

[3113873 rows x 2 columns]

In [61]:
output3_path = "TFIDF_Hadoop/output3/part-r-00000"
pd.read_csv(output3_path,sep='\t',header = None)

                     0         1
0              a@15381  0.006684
1               a@5220  0.009767
2              a@12270  0.006848
3              a@13242  0.011507
4              a@10171  0.007099
...                ...       ...
3113868        ﬁnd@233  0.008860
3113869       ﬁnd@2345  0.007669
3113870      ﬁnd@14841  0.020800
3113871      ﬁnd@12302  0.020507
3113872  ﬂexible@12723  0.013586

[3113873 rows x 2 columns]